@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url("../_img/double-bubble-outline.webp");
  background-repeat: repeat;
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto Slab", serif;
  line-height: 1.1em;
}

p,
ul,
li {
  font-family: "Open Sans", sans-serif;
  margin: 1em 8em;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 2fr 1fr 1fr 2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". input ."
    ". result ."
    ". . .";
}

.input {
  grid-area: input;
  text-align: center;
}

.result {
  grid-area: result;
  text-align: center;
}

.form {
  width: 100%;
}

#input {
  width: 80%;
  border: 1px solid #999;
}

#submit {
  width: 15%;
  border: 1px solid #999;
  background-color: rgba(255, 255, 255, 1);
}

.button {
  border: 1px solid #999;
  background-color: #1abc9c;
}
