@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url("./double-bubble-outline.webp");
  background-repeat: repeat;
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto Slab", serif;
  line-height: 1.1em;
}

p,
ul,
li {
  font-family: "Open Sans", sans-serif;
  margin: 1em 8em;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 2fr 1fr 2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". content ."
    ". . .";
}

.content {
  grid-area: content;
  text-align: center;
}
