* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}

input[type="password"] {
  letter-spacing: 0.125em;
}

.invisible {
  visibility: hidden;
}

.ul,
li {
  list-style: none;
  list-style-type: none;
  margin-left: 25px;
}

.li {
  display: inline-block;
  line-height: 0.1em;
}

.img {
  height: 15px;
  width: 15px;
}

/* green check::afterhttps://upload.wikimedia.org/wikipedia/commons/3/3b/Eo_circle_green_checkmark.svg
*/

/* red x::afterhttps://upload.wikimedia.org/wikipedia/commons/d/dd/Eo_circle_red_not-allowed.svg
*/
