.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-basis: 90%;
}

li {
  list-style-type: square;
}

.card {
  padding: 18px;
  border: 1px solid #bdc3c7;
  margin: 12px;
  border-radius: 3px;
  width: 100%;
}

.text-center {
  text-align: center;
}

.formSubmitBtn {
  margin-top: 28px;
}

img {
  width: 100%;
}
